<mat-form-field>
    <mat-label>Project Manager</mat-label>
    <input matInput placeholder="Select manager" [matAutocomplete]="auto" [formControl]="managerControl">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onManagerSelected()">
      <mat-option *ngFor="let manager of filteredManagers | async" [value]="manager.fullname">
        {{manager.fullname}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="managerControl.invalid">Please select a valid manager</mat-error>
  </mat-form-field>
  