<div class="h-1/2 bg-gradient-to-r from-indigo-800 to-indigo-500 flex text-white">



  <div class="w-1/2 ">

    <div class="ml-4 mt-4 ">

      <div class="ml-16 mt-20 ">
        <div class="flex-1 flex justify-center items-center text-4xl">
          Get started by adding resources to your project
        </div>
      </div>

    </div>

  </div>

  <div class="w-1/2 relative ">


    <div class="absolute bottom-0  flex justify-end">
      <img class="mx-4 my-4 h-1/2 w-1/2 object-contain" src="../../../../assets/images/project_detail.svg" alt="">
    </div>

  </div>

</div>



<div class="mx-20 -mt-28 mb-4 boder  border-blue-800">

  <div class="mr-56">
    <mat-grid-list cols="2" rowHeight="300px">

      <mat-grid-tile>
        <mat-card class="iid-card mat-elevation-z8" (click)="goToIIDOverview()">




          <mat-card-header>
            <mat-card-title>Infrastructure Initiation Document</mat-card-title>
            <mat-card-subtitle>IID</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p> This form helps to analyze the project requirement.</p>


          </mat-card-content>
        </mat-card>

      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="iid-card mat-elevation-z8" (click)="goToBOMOverview()">

          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Bill of Material</mat-card-title>
              <mat-card-subtitle>BOM</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>

          <mat-card-content>
            <p> This form helps to analyze the project requirement.</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>



    </mat-grid-list>
  </div>
</div>