<mat-card>
    <mat-card-header>
      <mat-card-title>Page Not Found</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Sorry, the page you are looking for cannot be found.</p>
      <a mat-button color="primary" routerLink="/login" (click)="goToLoginPage()">Go to login page</a>
    </mat-card-content>
  </mat-card>

  <div style="display:flex; justify-content:center; size: 400px;">
    <img src="../../../../assets/images/page_not_found.svg" alt="Not Found" class="not-found-image">
  </div>
  