<p>mssql-db-create works!</p>
<app-environment></app-environment>
<app-server-detail></app-server-detail>
<mat-divider></mat-divider>
<app-vmware-server-size></app-vmware-server-size>
<mat-divider></mat-divider>
<app-san-storage-type></app-san-storage-type>
<mat-divider></mat-divider>
<app-nas-storage-size></app-nas-storage-size>

<mat-divider></mat-divider>
<app-mssql-db-app-temp-size></app-mssql-db-app-temp-size>
<app-mssql-db-trans-log-size></app-mssql-db-trans-log-size>
<app-mssql-db-cost-summary></app-mssql-db-cost-summary>