<div class="h-1/2 bg-gradient-to-r from-indigo-800 to-indigo-500 flex text-white">

    <div class="w-1/2">

        <div class="ml-16">
            <h1>Project Settings</h1>
            <p>Manage your project access here. Define roles, set permissions, and empower your team with the right
                level of
                access.</p>
        </div>

    </div>

    <div class="w-1/2 relative">

        <div class="absolute bottom-0  flex justify-end z-10">
            <img class="mx-4 my-4 h-1/2 w-1/2 object-contain" src="../../../../assets/images/project_settings.svg"
                alt="">
        </div>

    </div>

</div>

<div class="mx-20 -mt-60 mb-4  relative  z-40 ">

    <mat-card class="p-4 w-3/4">

        <mat-tab-group>
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Users and Permissions">
                
                <app-project-permission></app-project-permission>



            </mat-tab>
        </mat-tab-group>
    </mat-card>

</div>