<div class="flex flex-row gap-4">


  <div>


    <mat-form-field appearance="fill">
      <mat-label>SAN Disk Options</mat-label>
      <mat-select [formControl]="sanStorageTypeControl">
        <mat-option *ngFor="let storageType of sanStorageTypes" [value]="storageType.code">
          {{ storageType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- <pre>{{sanStorageTypeControl |json}}</pre> -->

  <!-- Add this block for the role swap option -->
  <div *ngIf="sanStorageTypeControl.value === 'SAN_DISK1'">
    <mat-form-field>
      <mat-label>Role Swap Needed</mat-label>
      <mat-select [formControl]="roleSwapControl">
        <mat-option [value]="true">Yes</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<!-- End of the role swap option block -->