<div class="flex flex-row gap-1">
<mat-form-field appearance="fill" class="w-80">
  <mat-label>Server Detail</mat-label>
  <input matInput [formControl]="serverDetailControl" (blur)="updateServerDetail()" />
  <mat-error *ngIf="serverDetailControl.invalid && serverDetailControl.touched">
    Server detail is required.
  </mat-error>

</mat-form-field>
<mat-icon matSuffix class=" hover:cursor-pointer hover:text-indigo-600 text-gray-500"
    matTooltip="Click for more information" matTooltipPosition="above"
    (click)="openConfluencePage()">help_outline</mat-icon>

</div>