<div class="h-1/2 bg-gradient-to-r from-indigo-800 to-indigo-500   flex text-white">


    <div class="w-2/3 ">

        

        <div class="mx-20 my-4">
            <h1>Infrastructure Initiation Document</h1>
            Infrastructure Initiation Document engages our Infrastructure Architect Team to analyze and provide a
            infrastructure solution for your project. Together, we'll deliver a reliable and scalable infrastructure
            that supports your business objectives and drives success.
        </div>

        <div class="mx-20 my-4">
            <button class="bg-white text-indigo-500 hover:bg-gray-300 font-bold py-2 px-4 rounded"
              (click)="openCreateIIDDialog()">
              Create New IID
            </button>
          </div>

    </div>


    <div class="w-1/2 flex items-end justify-end">
        <img class="mr-4 mb-4 w-1/2" src="../../../../assets/images/iid_fill_form.svg" alt="">
    </div>



</div>


<div class="mx-20 -mt-20 mb-4">

</div>